In [6]:
import pandas as pd
df = pd.read_csv("../data/restaurants.csv", sep=";")

In [7]:
df

,name,street,number,zip_code,lon,lat,type,opening,closing
0,Burrito Company,Kastanienallee,34,10115,-34.4344,88.3332,mexican,10:00,21:00